.container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-weight: 700;
  margin: 0rem 2rem;
  background: white;
  padding: 1rem 0 2rem 0;
}
.container > div{
  padding: 1rem;
}
.data{
  padding: 1rem 2rem 1rem .5rem;
  border: 1px solid rgb(187, 211, 218);
  font-size: 1.3rem;
  color: grey;
  font-weight: 100;
  margin-top: .5rem;
}