.messages-aside {
  background: #fff;
  box-shadow: 0 3px 117px 0 rgba(0,0,0,0.19);
  padding: 13px 0 0;
  position: relative;
  width: 230px;
  z-index: 1
}

.messages-menu {
  list-style: none;
  padding-left: 26px;
  padding-right: 18px;
  &__item {
    margin-bottom: 25px;
    position: relative;
    padding-right: 28px;
  }
  &__link {
    color: #898ea4;
    font-size: 16px;
  }
  i {
    display: inline-block;
    color: #c5c9da;
    margin-right: 10px;
    text-align: center;
    width: 15px
  }
  &__badge {
      background: #55cec1;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      right: 0;
      top: 50%;
      transform: translate(0,-43%);
      color: #fff;
      padding: 6px;
      min-width: 15px;
      text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .messages-aside {
    width: 100%
  }
  .messages-menu {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    &__item {
      margin-right: 30px;
      margin-bottom: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    i {
      margin-right: 4px
    }
  }
}
