.form-box-bank {
	margin-left: -16px;
	margin-right: -16px;
	max-width: 1111px;

	.form-box__item {
		padding-left: 16px;
		padding-right: 16px;
		width: 33.33%
	}
}
@media screen and (max-width: 1040px) {
	.form-box-bank {
		.form-box__item {
			width: 50%
		}
	}
}
@media screen and (max-width: 991px) {
	.form-box-bank {
		margin-left: -10px;
		margin-right: -10px;
		.form-box__item {
			padding-left: 10px;
			padding-right: 10px;
			width: 50%
		}
	}
}

@media screen and (max-width: 520px) {
	.form-box-bank {
		.form-box__item {
			width: 100%
		}
	}
}
