.page-heading_quotation {
  margin-bottom: 20px;
}

.steps-navigation {
  display: flex;
  margin-top: 9px;

  &__link {
    background: #bcbcbd;
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    min-width: 121px;
    padding: 7px 15px 6px;
    text-align: center;

    &.active {
      background: $color-active
    }
  }
}

.box-bg-quotation {
  background: #fff;
  padding: 25px 30px 32px;
  margin-top: 29px;
}

.quotation-filters {
  margin-top: 44px;
}

.quotation-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}

.filters-quotation {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.checkbox-elem_notify {
  margin-top: 16px;
  margin-bottom: -27px;
}

.box-field_calendar {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 27px;
  width: 201px;
}

.box-field_name {
  width: 41.1%
}

.box-field_checbox-period {
  display: flex;
  margin-top: -15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 40%
}

.checkbox-elem_period {
  margin-right: 34px;

  &:last-child {
    margin-right: 0
  }
}

.box-field__input_as_decor {
  background: #fff;
  vertical-align: top;
  padding: 0 5px 0 0;

  input[type="text"] {
    border: 0;
    background: transparent;
    height: 100%;
    line-height: 22px;
    vertical-align: middle;
    width: calc(100% - 23px)
  }
}

.datepicker-icon {
  color: $color2;
  font-size: 15px;
  vertical-align: middle;
}

.quotation-search {
  width: 100%;
  max-width: 45%;
  margin-top: -13px;
}

.action-quatation {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-align: left;

  &_add {
    background: #55cec1;
  }

  &_remove {
    background: #5b74d2
  }
}

.buttons-quotation {
  margin: 22px 0 0;
  text-align: right;
}

.btn {
  &_quotation {
    margin-left: 14px;
    min-width: 120px;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &_products {
    margin-left: 14px;
    min-width: 120px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 12px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.filters-box_smallitems .filters-box__item_two {
  width: 25%
}

.choice-product-filters {
  margin-top: 3px;
}

.table-black {
  color: #161616;
}

.checkbox-elem-head-table {
  background: #f8f8fa;
  display: flex;
  height: 100%;
  align-items: center;
}

.filters-header_product {
  margin-bottom: 14px;

}

.reset-products {
  margin-top: 5px
}

@media screen and (max-width: 1366px) {
  .box-field_checbox-period {
    margin-top: 30px;
    width: 100%
  }
  .filters-box_smallitems .filters-box__item_two {
    width: 28.57%;
  }
}

@media screen and (max-width: 1280px) {
  .box-field_name {
    width: 75%;
  }
  .checkbox-elem_notify {
    margin-bottom: 0
  }
  .box-field_checbox-period {
    margin-top: 10px;
  }
  .filters-box_smallitems .filters-box__item_two {
    width: 33.33%;
  }
}

@media screen and (max-width: 1040px) {
  .box-field_name {
    width: 66.66%;
  }
  .filters-header_product {
    margin-top: 25px
  }
}

@media screen and (max-width: 991px) {
  .box-field_name {
    width: 100%;
  }
  .buttons-quotation {
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .filters-box_smallitems .filters-box__item_two {
    width: 40%;
  }
}

@media screen and (max-width: 880px) {
  .filters-box_smallitems .filters-box__item_two {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .box-bg-quotation {
    padding-left: 15px;
    padding-right: 15px
  }
  .quotation-heading {
    display: block;
  }
  .quotation-search {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
  .filters-header_product {
    display: block;
  }
  .reset-products {
    margin-top: 15px;
    text-align: right;
  }
  .steps-navigation {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -8px;
    margin-right: -8px;

    &__link {
      margin: 0 8px 10px;

      &:first-child {
        margin-left: 8px;
      }
    }
  }
  .filters-box_smallitems .filters-box__item_two {
    width: 66.66%;
  }
}

@media screen and (max-width: 610px) {

  .filters-box_smallitems .filters-box__item_two {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .box-field_calendar {
    width: 100%;
  }
  .btn_products, .btn_quotation {
    margin: 0;
    width: 100%;

    & + & {
      margin-top: 12px
    }
  }
}