.page-heading_distribute {
  margin: 0;
}

.tooltip-wrap {
  cursor: pointer;
  position: relative;

  .tooltip-th {
    background: #fff;
    border: 1px solid #f0f0f2;
    display: none;
    font-size: 9px;
    left: 50%;
    margin-top: 5px;
    padding: 5px 10px 6px;
    transform: translate(-50%, 0);
    position: absolute;
    top: 100%;
    z-index: 10
  }

  &:hover {
    .tooltip-th {
      display: block;
    }
  }
}

.checkbox-elem_distribute {
  width: 16px;
  margin: 0 auto;

  .checkbox-label:before {
    background: #fff
  }
}

.reset-products_single {
  justify-content: flex-end;
}

.filters-header_distribute {
  margin: -9px 0 15px;
}

.table-distribute {
  padding-top: 12px;
}

.products-count {
  display: block;
  font-size: 9px;
  margin-top: 4px;
}

.buttons-list-distribute {
  margin-top: 24px
}

.btn-pick {
  min-width: 100px
}
