.sourcing {

  &__flex-block {
    margin: 0px -14px;
    padding: 18px 0;

    .window-box {
      flex: 1 1 50%;
      max-width: 50%;
      padding: 0px 14px;
    }
  }

  &__graph {
    padding-bottom: 40px;
  }

  &__top-table {
    @extend .financial-rating__table;

    .fixedDataTableRowLayout_body .fixedDataTableCellLayout_wrap1 {
      min-height: 50px;
    }
  }

  &__status-table {
    @extend .financial-rating__table;

    .fixedDataTableRowLayout_body .fixedDataTableCellLayout_wrap1 {
      min-height: 50px;
    }

    .fixedDataTableLayout_header {
      display: none;
    }


  }
}

.warning {
  color: #40bde8;
  font-size: 16px;
  text-transform: uppercase;
  padding: 22px 10px 33px;
  line-height: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__icon {
    margin-right: 18px;
    font-size: 29px;
  }

  &__text {
    padding-top: .2em;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.01em;
  }
}

@media screen and (max-width: 991px) {
  .sourcing__flex-block {
    display: block;
    margin: 0;


    .window-box {
      flex: 1 1 auto;
      max-width: 100%;
      padding: 15px 0;
    }

  }

  .warning {
    font-size: 14px;
    line-height: 18px;
    display: block;
    text-align: center;
    padding: 20px 0;

    &__icon {
      font-size: 21px;
      margin-right: 0;
      margin-bottom: 5px;
      display: block;
    }
  }
}