.table-supplier-list {
  padding-top: 15px;
  color: $color1;
  font-size: 12px;
}

.inner-details__inner {

  padding: 28px 18px 22px;
  max-width: 1167px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 100%;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.inner-details {
  background: #fff;
  color: $text-color;
  position: relative;
  box-shadow: inset 0px 100px 58px -83px rgba(#78a3b2, .15);
  text-align: left;

  &__title {
    color: #56819f;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 17px;

    &_withicon {
      display: inline-block;
      padding-right: 32px;
      position: relative;
    }
  }

  &__tel {
    color: inherit;

    &:hover {
      color: $color-active;
    }
  }
}

.contacts-details {
  width: 22.4%;

  &__list {
    padding-top: 10px;
  }

  &__icon {
    background: #74c4df;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 5px 2px 0;
    position: absolute;
    right: 0;
    top: -4px;
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0
    }
  }
}

.order-dynamics {
  padding-left: 30px;
  width: 35.9%;

  &__chart {
    width: 100%
  }

  &__pie {
    width: 100%;
  }

  &-charts {
    width: 18.5%;
    padding-left: 30px;
  }
}

.counts {
  width: 19.6%;
  padding-left: 30px;

  &__item {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0
    }
  }

  &__title {
    color: #56819f;
    font-size: 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__val {
    color: #74c4df;
    font-size: 12px;

    &_percent {
      color: #7911ca;
    }

    &_category {
      color: #161616;
    }
  }
}

.col-th {
  color: #6f8a99;
  display: inline-block;
  min-width: 88px
}

.col-name {
  color: #161616;
  text-shadow: 0 0
}

.col-status {
  color: #fff;
  display: inline-block;
  padding: 2px 5px;
  text-transform: uppercase;
  margin: 0 25px;

  &_active {
    background: #55cec1
  }

  &_inactive {
    background: #dc5757
  }

  &_test {
    background: $yellow;
  }
}

.col-country {
  display: inline-block;
  min-width: 151px;

  img {
    display: inline-block;
    margin-top: -2px;
    height: auto;
    margin-right: 3px;
    vertical-align: middle;
    width: 15px;
  }
}

.col_1 {
  display: inline-block;
  min-width: 148px
}

.empty-ceil {
  min-width: 128px
}

.table-mail-icon {
  color: #acb1b6;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    color: $color-active;
  }
}

.expand-icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  display: none
}

.supplier {
  &__payment {
    &__top {
      display: flex;
      align-items: center;
      margin: 0 0 20px;
      justify-content: space-between;

      h2 {
        font-weight: 400;
        line-height: 1.2;
        font-size: 18px;
        color: #343f4b;
        text-transform: uppercase;
        white-space: nowrap;
      }

      .page-heading__form {
        max-width: 60%;
      }
    }
  }

}

.create__answer {
  font-size: 18px;
  padding: 20px;
  background: white;
  margin: 20px 0 0;
}

.supplier__history {
  thead {
    td {
      font-weight: 700;
    }
  }
  td {
    padding: 10px;
    font-size: 14px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}