@import '../../../base.scss';

.option-additional-contacts{
  font-size: var(--font-small);
  color: var(--white);

  padding: .7rem 1rem;
  width: 100%;
  background: var(--light-blue);
}
.additional-contacts-container{
  display: inline-flex;
  width: 100%;
}
.additional-form{
  background: var(--light-grey);
}
.container{
  padding: 2rem;
  font-size: var(--font-size-small);
}
.input-row{
  padding: 1rem;
}
.delete{
  align-self: center;
  padding: 0 3rem 0 2rem;
}
