@import '../../../base.scss';

.container{
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  padding: 1rem 2rem;
  font-size: var(--font-small);
}
.row{
  display: inline-flex;
  justify-content: space-between;
}
.input{ 
  padding: 1rem 0;
  font-size: var(--font-size-small);
  font-weight: 100;
}
.wide{
  width: 25vw !important;
  margin-bottom: 1rem;
}
.save{
  border: 1px solid var(--light-blue);
  padding: 1rem 2rem;
  color: var(--light-blue);
  width: 10rem;
  text-align: center;
}
.save:hover{
  cursor: pointer;
}
.selected{
  color: var(--white);
  background: var(--light-blue);
  z-index: 10;
}
.unselected{
  color: var(--light-blue); 
  z-index: 9;
}