@import '../base.scss';

.container-navigation{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: 'Lato-Regular';
}
.container-header{
    display: grid;
    grid-template-columns: 55% 25% 20%;
    min-width: 15rem;
}
.hello{
    margin: 0 1rem 0 0;
}
.avatar-navigation-name{
    justify-self: center;
    margin: 1.5rem 0 0 0;
    font-size: var(--font-size-medium-res);
}
.avatar-header-name{
    align-self: center;
    text-align: end;
    font-size: var(--font-medium);
    width: max-content;
    margin-right: 3rem;
}
.no-avatar-header-name{
    align-self: center;
    text-align: end;
    margin-right: 0;
    width: fit-content;
}
.avatar-navigation-img{
    justify-self: center;    
}
.no-avatar{
    height: 3.4rem;
    width: 3.4rem;
    background-color: var(--light-blue);
    color: white;
    border-radius: 50%;
    text-align: center;
}
.no-avatar-navigation{
    height: 8rem;
    width: 8rem;
    background-color: var(--light-blue);
    border-radius: 50%;
    text-align: center;
    font-size: var(--font-extra);
}
.no-avatar-initials{
    margin-top: 64%;
    position: relative;
    top: calc(50% - .9rem);
    font-family: 'Avenir-Light';
    font-weight: 100;
    font-size: var(--font-medium-plus);
}
.caret{
    margin-top: .5rem !important;
}
.profile-name-container{ text-align: center; margin: 2rem 0 2rem 0;}
.bigFont{font-size: var(--font-medium-plus);}
.small-plus{
    font-size: var(--font-small-plus);
}