.ui {
  &.popup {

    padding: 0 5px;
    border: none;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 0;

    &.bottom {
      margin: -15px 0 0 0;
    }

    &:before {
      display: none;
    }

    .content {
      width: auto;
      margin: auto;
      font-size: 12px;
      text-align: center;
    }
  }
}